In [1]:
# Your code here
import pandas as pd
url_2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv'
df = pd.read_csv(url_2)

In [2]:
df.shape

(996, 11)

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [4]:
df.columns = df.columns.str.lower().str.replace(' ','_')

In [5]:
df.rename(columns={'st': 'state'}, inplace=True)
df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   996 non-null    object
 1   state                      996 non-null    object
 2   gender                     991 non-null    object
 3   education                  996 non-null    object
 4   customer_lifetime_value    992 non-null    object
 5   income                     996 non-null    int64
 6   monthly_premium_auto       996 non-null    int64
 7   number_of_open_complaints  996 non-null    object
 8   total_claim_amount         996 non-null    float64
 9   policy_type                996 non-null    object
 10  vehicle_class              996 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 85.7+ KB

In [7]:
df = df.drop(columns=['state'])

In [8]:
df['gender'].unique()

array(['F', 'M', nan, 'female', 'Male'], dtype=object)

In [9]:
gender_mapping = {
    'F': 'Female',
    'M': 'Male',
    'female': 'Female'
}

In [10]:
df['gender'] = df['gender'].map(gender_mapping)
df['gender'].unique()

array(['Female', 'Male', nan], dtype=object)

In [11]:
df['education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'Bachelors',
       'High School or Below'], dtype=object)

In [12]:
education_mapping = {
    'Bachelor': 'Bachelor',
    'College': 'College',
    'High School or Below': 'High School or Below',
    'Master': 'Master',
    'Doctor': 'Doctor',
    'Bachelors': 'Bachelor'  
}

In [13]:
df['education'] = df['education'].map(education_mapping)
df['education'].unique()

array(['Bachelor', 'Master', 'College', 'Doctor', 'High School or Below'],
      dtype=object)

In [14]:
df.head()

,customer,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Female,Bachelor,323912.47%,16061,88,1/0/00,633.6,Personal Auto,Four-Door Car
1,CW49887,Female,Master,462680.11%,79487,114,1/0/00,547.2,Special Auto,SUV
2,MY31220,Female,College,899704.02%,54230,112,1/0/00,537.6,Personal Auto,Two-Door Car
3,UH35128,Female,College,2580706.30%,71210,214,1/1/00,1027.2,Personal Auto,Luxury Car
4,WH52799,Female,College,380812.21%,94903,94,1/0/00,451.2,Corporate Auto,Two-Door Car

In [15]:
#In Customer Lifetime Value, delete the % character
df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')# Your code here

In [16]:
df[['monthly_premium_auto']].value_counts()

monthly_premium_auto
66                      41
71                      40
61                      35
67                      35
72                      34
                        ..
182                      1
183                      1
186                      1
188                      1
7575                     1
Name: count, Length: 126, dtype: int64

In [17]:
#Number of open complaints has an incorrect format. 
#Look at the different values it takes with unique() and take the middle value.
#As an example, 1/5/00 should be 5. 
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.lstrip('1/')
df['number_of_open_complaints'] = df['number_of_open_complaints'].str.rstrip('/00')
df['number_of_open_complaints'].value_counts()
#Number of open complaints is a string - remember you can use split() to deal with it and take the number you need. 
#Finally, since it should be numeric, cast the column to be in its proper type.

number_of_open_complaints
     905
2     43
3     26
4     16
5      6
Name: count, dtype: int64

In [18]:
df['number_of_open_complaints'] = pd.DataFrame(df['number_of_open_complaints'])
df['number_of_open_complaints'] = df['number_of_open_complaints'].replace('',0)
df['number_of_open_complaints'].unique()

array([0, '3', '5', '2', '4'], dtype=object)

In [19]:
#The data types of many columns in the dataset appear to be incorrect. 
#This could impact the accuracy of our analysis. To ensure accurate analysis, 
#we need to correct the data types of these columns. 
#Please update the data types of the columns as appropriate. 
#Your code here

df['customer_lifetime_value'].unique
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)
df['customer_lifetime_value']
#Customer lifetime value should be numeric

0       323912.47
1       462680.11
2       899704.02
3      2580706.30
4       380812.21
          ...
991     847141.75
992     543121.91
993     568964.41
994     368672.38
995     399258.39
Name: customer_lifetime_value, Length: 996, dtype: float64

In [20]:
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)
df['number_of_open_complaints']

0      0
1      0
2      0
3      0
4      0
      ..
991    0
992    0
993    0
994    0
995    0
Name: number_of_open_complaints, Length: 996, dtype: int64

In [21]:
#The data types of many columns in the dataset appear to be incorrect. 
#This could impact the accuracy of our analysis. To ensure accurate analysis, 
#we need to correct the data types of these columns. 
#Please update the data types of the columns as appropriate. 
#Your code here

df['income'].unique
df['income'] = df['income'].astype(float)
df['income']
#Customer lifetime value should be numeric

0      16061.0
1      79487.0
2      54230.0
3      71210.0
4      94903.0
        ...
991    63513.0
992    58161.0
993    83640.0
994        0.0
995        0.0
Name: income, Length: 996, dtype: float64

In [22]:
df[['vehicle_class']].value_counts()

vehicle_class
Four-Door Car    519
Two-Door Car     211
SUV              174
Sports Car        55
Luxury SUV        21
Luxury Car        16
Name: count, dtype: int64

In [23]:
car_mapping = {
    'Four-Door Car': 'Four-Door Car',
    'Two-Door Car': 'Two-Door Car',
    'SUV': 'SUV',
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

In [24]:
df['vehicle_class'] = df['vehicle_class'].map(car_mapping)
df[['vehicle_class']].value_counts()

vehicle_class
Four-Door Car    519
Two-Door Car     211
SUV              174
Luxury            92
Name: count, dtype: int64

In [25]:
df.isna().any()

customer                     False
gender                        True
education                    False
customer_lifetime_value       True
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
total_claim_amount           False
policy_type                  False
vehicle_class                False
dtype: bool

In [26]:
df.isna().sum()

customer                     0
gender                       6
education                    0
customer_lifetime_value      4
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

In [27]:
gender_mode = df['gender'].mode()[0]
df['gender'].fillna(gender_mode, inplace=True)
df['gender'].isna().sum()

0

In [28]:
customer_lifetime_value_mean = df['customer_lifetime_value'].mean()
df['customer_lifetime_value'].fillna(customer_lifetime_value_mean, inplace=True)
df['customer_lifetime_value'].isna().sum()

0

In [29]:
new_df = df.drop_duplicates().reset_index(drop=True)

In [30]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 996 entries, 0 to 995
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   996 non-null    object
 1   gender                     996 non-null    object
 2   education                  996 non-null    object
 3   customer_lifetime_value    996 non-null    float64
 4   income                     996 non-null    float64
 5   monthly_premium_auto       996 non-null    int64
 6   number_of_open_complaints  996 non-null    int64
 7   total_claim_amount         996 non-null    float64
 8   policy_type                996 non-null    object
 9   vehicle_class              996 non-null    object
dtypes: float64(3), int64(2), object(5)
memory usage: 77.9+ KB

AttributeError: 'DataFrame' object has no attribute 'column'

In [ ]:
new_df.to_csv('insurance 2(cleaned and formatted).csv', index = False)

In [ ]:
df['vehicle_class'].unique()

In [33]:
new_df.columns

Index(['customer', 'gender', 'education', 'customer_lifetime_value', 'income',
       'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')