In [25]:
import pandas as pd

url_3= 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv'

df= pd.read_csv(url_3)

In [26]:
df.shape

(7070, 11)

In [27]:
df.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   7070 non-null   object
 1   state                      7070 non-null   object
 2   customer_lifetime_value    7070 non-null   float64
 3   education                  7070 non-null   object
 4   gender                     7070 non-null   object
 5   income                     7070 non-null   int64
 6   monthly_premium_auto       7070 non-null   int64
 7   number_of_open_complaints  7070 non-null   int64
 8   policy_type                7070 non-null   object
 9   total_claim_amount         7070 non-null   float64
 10  vehicle_class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [28]:
df.columns = df.columns.str.lower().str.replace(' ','_')
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

In [29]:
car_mapping = {
    'Four-Door Car': 'Four-Door Car',
    'Two-Door Car': 'Two-Door Car',
    'SUV': 'SUV',
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

In [36]:
df['vehicle_class'] = df['vehicle_class'].map(car_mapping)
df[['vehicle_class']].value_counts()

income
0        1821
95697       8
74015       6
62873       6
37876       6
         ...
80797       1
89410       1
52728       1
43199       1
21941       1
Name: count, Length: 4463, dtype: int64

In [37]:
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(float)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   7070 non-null   object
 1   state                      7070 non-null   object
 2   customer_lifetime_value    7070 non-null   float64
 3   education                  7070 non-null   object
 4   gender                     7070 non-null   object
 5   income                     7070 non-null   int64
 6   monthly_premium_auto       7070 non-null   int64
 7   number_of_open_complaints  7070 non-null   int64
 8   policy_type                7070 non-null   object
 9   total_claim_amount         7070 non-null   float64
 10  vehicle_class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [43]:
df.isna().sum()

customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

In [44]:
df.duplicated().sum()

0

In [61]:
list(df['vehicle_class'].unique())

['Two-Door Car', 'Four-Door Car', 'SUV', 'Luxury']

In [62]:
new_df = df.drop_duplicates().reset_index(drop=True)

In [63]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7070 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   7070 non-null   object
 1   state                      7070 non-null   object
 2   customer_lifetime_value    7070 non-null   float64
 3   education                  7070 non-null   object
 4   gender                     7070 non-null   object
 5   income                     7070 non-null   int64
 6   monthly_premium_auto       7070 non-null   int64
 7   number_of_open_complaints  7070 non-null   int64
 8   policy_type                7070 non-null   object
 9   total_claim_amount         7070 non-null   float64
 10  vehicle_class              7070 non-null   object
dtypes: float64(2), int64(3), object(6)
memory usage: 607.7+ KB

In [64]:
new_df.to_csv('insurance 3(cleaned and formatted).csv', index = False)