# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# Your code goes here
import pandas as pd
url_1 = '/Users/javi/Desktop/Ironhack/Entregas de github/lab-dw-data-structuring-and-combining/insurance (cleaned and formatted).csv'
url_2 = '/Users/javi/Desktop/Ironhack/Entregas de github/lab-dw-data-structuring-and-combining/insurance 2(cleaned and formatted).csv'
url_3 = '/Users/javi/Desktop/Ironhack/Entregas de github/lab-dw-data-structuring-and-combining/insurance 3(cleaned and formatted).csv'

df1 = pd.read_csv(url_1)
df2 = pd.read_csv(url_2)
df3 = pd.read_csv(url_3)

In [2]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(1071, 11)
(996, 10)
(7070, 11)

In [3]:
concatenated_df = pd.concat([df1, df2, df3], ignore_index=True)

In [4]:
concatenated_df.shape

(9137, 11)

In [5]:
# Check for duplicates in concatenated_df
duplicates = concatenated_df[concatenated_df.duplicated()]

# Remove duplicates from concatenated_df
concatenated_df = concatenated_df.drop_duplicates()
concatenated_df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,Female,Master,7.936903e+05,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,Bachelor,6.979536e+05,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,Bachelor,1.288743e+06,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,Male,Bachelor,7.645862e+05,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,Male,High School or Below,5.363077e+05,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9132,LA72316,California,Male,Bachelor,2.340599e+04,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
9133,PK87824,California,Female,College,3.096511e+03,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
9134,TD14365,California,Male,Bachelor,8.163890e+03,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
9135,UP19263,California,Male,College,7.524442e+03,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
9136,Y167826,California,Male,College,2.611837e+03,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [6]:
concatenated_df.shape

(9137, 11)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [7]:
url4 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'# Your code goes here

In [8]:
df = pd.read_csv(url4)
df.drop(df.columns[[0]], axis=1, inplace=True)

In [9]:
df.columns

Index(['customer', 'state', 'customer_lifetime_value', 'response', 'coverage',
       'education', 'effective_to_date', 'employmentstatus', 'gender',
       'income', 'location_code', 'marital_status', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies', 'policy_type',
       'policy', 'renew_offer_type', 'sales_channel', 'total_claim_amount',
       'vehicle_class', 'vehicle_size', 'vehicle_type', 'month'],
      dtype='object')

In [10]:
df.isna().any()

customer                         False
state                            False
customer_lifetime_value          False
response                         False
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                    False
vehicle_size                     False
vehicle_type                     False
month                            False
dtype: bool

In [11]:
df.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [12]:
df.duplicated().sum()

443

In [13]:
df.drop_duplicates(inplace=True)

In [14]:
df.duplicated().sum()

0

In [15]:
df[['gender']].value_counts()

gender
F         5347
M         5120
Name: count, dtype: int64

In [16]:
gender_mapping = {
    'F': 'Female',
    'M': 'Male',
}

In [17]:
df['gender'] = df['gender'].map(gender_mapping)
df['gender'].unique()

array(['Male', 'Female'], dtype=object)

In [18]:
df[['employmentstatus']].value_counts()

employmentstatus
Employed            6507
Unemployed          2671
Medical Leave        486
Disabled             478
Retired              325
Name: count, dtype: int64

In [19]:
df[['vehicle_class']].value_counts()

vehicle_class
Four-Door Car    5498
Two-Door Car     2074
SUV              1972
Sports Car        537
Luxury SUV        203
Luxury Car        183
Name: count, dtype: int64

In [20]:
car_mapping = {
    'Four-Door Car': 'Four-Door Car',
    'Two-Door Car': 'Two-Door Car',
    'SUV': 'SUV',
    'Sports Car': 'Luxury',
    'Luxury SUV': 'Luxury',
    'Luxury Car': 'Luxury'
}

In [21]:
df['vehicle_class'] = df['vehicle_class'].map(car_mapping)
df[['vehicle_class']].value_counts()

vehicle_class
Four-Door Car    5498
Two-Door Car     2074
SUV              1972
Luxury            923
Name: count, dtype: int64

In [22]:
df[['vehicle_type']].value_counts()

vehicle_type
A               10467
Name: count, dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10467 entries, 0 to 10909
Data columns (total 26 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10467 non-null  object
 1   state                          10467 non-null  object
 2   customer_lifetime_value        10467 non-null  float64
 3   response                       10467 non-null  object
 4   coverage                       10467 non-null  object
 5   education                      10467 non-null  object
 6   effective_to_date              10467 non-null  object
 7   employmentstatus               10467 non-null  object
 8   gender                         10467 non-null  object
 9   income                         10467 non-null  int64
 10  location_code                  10467 non-null  object
 11  marital_status                 10467 non-null  object
 12  monthly_premium_auto           10467 non-null  int64
 13  months_since_last_claim        10467 non-null  float64
 14  months_since_policy_inception  10467 non-null  int64
 15  number_of_open_complaints      10467 non-null  float64
 16  number_of_policies             10467 non-null  int64
 17  policy_type                    10467 non-null  object
 18  policy                         10467 non-null  object
 19  renew_offer_type               10467 non-null  object
 20  sales_channel                  10467 non-null  object
 21  total_claim_amount             10467 non-null  float64
 22  vehicle_class                  10467 non-null  object
 23  vehicle_size                   10467 non-null  object
 24  vehicle_type                   10467 non-null  object
 25  month                          10467 non-null  int64
dtypes: float64(4), int64(5), object(17)
memory usage: 2.2+ MB

In [24]:
data = df[['sales_channel', 'total_claim_amount']]

# Correct variable name used here: pivot_df
pivot_df = pd.pivot_table(data, index='sales_channel', values='total_claim_amount', aggfunc='sum')

# Corrected to use the correct variable name: pivot_df
pivot_df['total_claim_amount'] = pivot_df['total_claim_amount'].round(2)
pivot_df
#Agents are the most profitable sales channel and it would be better to invest more in the agents. Although we donÂ´t have enough data. It would be interesting the cost per dollar profit ratio. It doesnÂ´t matter if the total claim amount amongst the agents it the highest if  the actual profit is lower than the rest. We donÂ´t have sufficient data to see what happens. What would be interesting to see is either the sales tactics and analyze if its possible to apply those tactics amongst the other sales channels. Or evaluate if it wouls be better to divest some expenses from other channels to the agents.

               total_claim_amount
sales_channel
Agent                  1748923.49
Branch                 1259333.44
Call Center             889094.77
Web                     676658.10

In [25]:
data = df[['gender', 'education', 'customer_lifetime_value']]

pivot_df = pd.pivot_table(data, index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean')
print(pivot_df)
#Highest lifetime values are customers whoÂ´s gender is female and have a lower level education. This doesnÂ´t mean they are uneducated it most likely that those customers are just on average much younger and it means they have more time to take advantage of our insurance. 
#It would be better to invest more energy in getting and retaining younger customers and just around 55% preferably female who seem to live longer than men.

                             customer_lifetime_value
gender education
Female Bachelor                          7913.452862
       College                           7755.029922
       Doctor                            7369.591923
       High School or Below              8616.664839
       Master                            8226.362324
Male   Bachelor                          7713.303475
       College                           8086.291367
       Doctor                            7414.859039
       High School or Below              8162.364059
       Master                            8154.605652

In [26]:
data = df[['gender', 'education', 'customer_lifetime_value']]

pivot_df = pd.pivot_table(data, index=['gender', 'education'], values='customer_lifetime_value', aggfunc='mean')
print(pivot_df)
#Highest lifetime values are customers whoÂ´s gender is female and have a lower level education. This doesnÂ´t mean they are uneducated it most likely that those customers are just on average much younger and it means they have more time to take advantage of our insurance. 
#It would be better to invest more energy in getting and retaining younger customers and just around 55% preferably female who seem to live longer than men.

                             customer_lifetime_value
gender education
Female Bachelor                          7913.452862
       College                           7755.029922
       Doctor                            7369.591923
       High School or Below              8616.664839
       Master                            8226.362324
Male   Bachelor                          7713.303475
       College                           8086.291367
       Doctor                            7414.859039
       High School or Below              8162.364059
       Master                            8154.605652

In [27]:
pivot_df

                             customer_lifetime_value
gender education
Female Bachelor                          7913.452862
       College                           7755.029922
       Doctor                            7369.591923
       High School or Below              8616.664839
       Master                            8226.362324
Male   Bachelor                          7713.303475
       College                           8086.291367
       Doctor                            7414.859039
       High School or Below              8162.364059
       Master                            8154.605652

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [28]:
# Your code goes here